/* input fields */
input {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 20px;

}

/* submit button */
input[type=submit] {
  margin-left: 10%;
  width: 80%;
  background-color: rgb(146, 156, 155);
  color: white;
  font-size: 120%;
}

label {
  margin-left: 20px;
}

/* container for inputs */

#loginform {
  background-color: #f1f1f1;
  font-family: "montserrat";
  padding: 20px;

}

/* display of the message box shown when a user clicks the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}


.instructions {
  margin: 20px;
  font-size: 150%;
  font-weight: bold;
}