
  #logo {
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    background-color: rgb(246,244,242);
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: rgb(114, 119, 116);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }

  .navigation-bar li a:hover{
    color: rgb(32, 26, 14);
}

.footer-container{
  text-align: center;
  background-color: rgb(246,244,242);
    height: 70px;
    width: 100%;
    margin-top: 20px;
    height: 100px; 
}
.footer-container ul {
  padding-top: 20px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
}

.footer-container li {
  list-style-type: none;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.footer-container li a {
  color: rgb(114, 119, 116);
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

.footer-container  li a:hover {
  opacity: 0.3;
}

.login_button{
  margin-top: 20px;
  float: right;
  background-color: rgb(114, 119, 116);
  color: white;
  border-radius:8px;
  border-color: rgb(114, 119, 116);
  transition-duration: 0.4s;
  padding: 10px;
}
.login_button:hover{
  border-color:rgb(114, 119, 116);
  border-radius: 1px;
  background-color: white; 
  border-radius:8px;
  color: rgb(114, 119, 116);
}

